*.zwc
*.pyc
anaconda*/
conda/
/trash/
/init_script/Anaconda*

/ENV/CONF/.local/share/autojump/autojump.*
/ENV/CONF/.cache/*
/ENV/CONF/.python_history
/ENV/CONF/.viminfo
/ENV/CONF/.z
/ENV/CONF/.zcompdump
/ENV/CONF/.zhistory
/ENV/CONF/.zsh_history
/ENV/CONF/.bash_history
/ENV/CONF/.conda/
/ENV/CONF/.lesshst
/ENV/CONF/.local/
/ENV/CONF/.local/share/nvim/
/ENV/CONF/.dbus/
/ENV/CONF/.selected_editor
/ENV/CONF/.xsession-errors

/ENV/localENV/log/sync_ENV_log/

.antigen/
.autojump/
.ssh/
.wget-hsts

/ENV/CONF/.vnc/*.log
/ENV/CONF/.vnc/*.pid

.Xauthority
/ENV/CONF/.ICEauthority

/ENV/CONF/.config/htop/
/ENV/CONF/.config/Thunar/
/ENV/CONF/.config/dconf/
/ENV/CONF/.config/gtk-3.0/
/ENV/CONF/.config/pulse/
/ENV/CONF/.config/user-dirs.dirs
/ENV/CONF/.config/user-dirs.locale
/ENV/CONF/.config/xfce4/

/backup_before_install/
