*.zwc
*.pyc
anaconda*/
conda/
/trash/
/init_script/Anaconda*

/ENV/CONF/.local/share/autojump/autojump.*
/ENV/CONF/.cache/*
/ENV/CONF/.python_history
/ENV/CONF/.viminfo
/ENV/CONF/.z
/ENV/CONF/.zcompdump
/ENV/CONF/.zhistory
/ENV/CONF/.zsh_history
/ENV/CONF/.bash_history
/ENV/CONF/.conda/
/ENV/CONF/.mozilla/
/ENV/CONF/.lesshst
/ENV/CONF/.local/
/ENV/CONF/.local/share/nvim/
/ENV/CONF/.dbus/
/ENV/CONF/.selected_editor
/ENV/CONF/.xsession-errors

/ENV/localENV/log/sync_ENV_log/

.antigen/
.autojump/
.ssh/
.wget-hsts

/ENV/CONF/.vnc/*.log
/ENV/CONF/.vnc/*.pid

.Xauthority
/ENV/CONF/.ICEauthority

/ENV/CONF/.config/htop/
/ENV/CONF/.config/Thunar/
/ENV/CONF/.config/dconf/
/ENV/CONF/.config/gtk-3.0/
/ENV/CONF/.config/pulse/
/ENV/CONF/.config/user-dirs.dirs
/ENV/CONF/.config/user-dirs.locale
/ENV/CONF/.config/xfce4/

.config/
.pam_environment
.scim/
ENV/CONF/.config/SogouPY*/
ENV/CONF/.config/Trolltech.conf
ENV/CONF/.config/akregatorrc
ENV/CONF/.config/baloofilerc
ENV/CONF/.config/bluedevilglobalrc
ENV/CONF/.config/drkonqirc
ENV/CONF/.config/enchant/
ENV/CONF/.config/fcitx/
ENV/CONF/.config/gtkrc
ENV/CONF/.config/gtkrc-2.0
ENV/CONF/.config/kactivitymanagerdrc
ENV/CONF/.config/kateschemarc
ENV/CONF/.config/kconf_updaterc
ENV/CONF/.config/kdeconnect/
ENV/CONF/.config/kded_device_automounterrc
ENV/CONF/.config/kdeglobals
ENV/CONF/.config/kglobalshortcutsrc
ENV/CONF/.config/khotkeysrc
ENV/CONF/.config/kmail2rc
ENV/CONF/.config/kmixrc
ENV/CONF/.config/korgacrc
ENV/CONF/.config/kscreenlockerrc
ENV/CONF/.config/ktimezonedrc
ENV/CONF/.config/kwinrc
ENV/CONF/.config/kwinrulesrc
ENV/CONF/.config/libaccounts-glib/
ENV/CONF/.config/plasma-localerc
ENV/CONF/.config/plasma-org.kde.plasma.desktop-appletsrc
ENV/CONF/.config/plasmashellrc
ENV/CONF/.config/powerdevilrc
ENV/CONF/.config/powermanagementprofilesrc
ENV/CONF/.config/sogou-qimpanel/
ENV/CONF/.config/sougou_pinyin_64.deb
ENV/CONF/.config/startupconfig
ENV/CONF/.config/startupconfigfiles
ENV/CONF/.config/startupconfigkeys
ENV/CONF/.config/webengineurlinterceptoradblockrc
ENV/CONF/.gtkrc-2.0
ENV/CONF/.kde/
ENV/CONF/.presage/
ENV/CONF/.scim/
ENV/CONF/.sogouinput/
ENV/CONF/.xinputrc
ENV/CONF/.xprofile
ENV/CONF/.byobu/
ENV/CONF/.mplayer/
ENV/CONF/Desktop/

/backup_before_install/
